<!--begin::App Content-->
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Announces</h1>
      </div>
    </div>
    <!--begin::Row-->
    <div class="row">
      @foreach (Announce Announce in @ViewBag.Announces)
      {
        <div class="card mb-3 shadow-sm border-0">
          <div class="card-body">
            <b>@Announce.Title</b>
            <br/>
            <p>@Announce.Message</p>
            <p class="text-muted small mb-0">
              <i class="bi bi-calendar-event me-1"></i>@Announce.Date.ToLongDateString()
              @* <span class="badge bg-success ms-2">New</span> *@
            </p>
          </div>
        </div>
      }
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<!--end::App Content-->