@model sislte.DTOs.EditAboutMeDto
<div class="container mt-5">
    <h2 class="mb-4">Edit About Me</h2>
    <form asp-action="EditAboutMe" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="FullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="FullName" name="FullName" value="@Model.FullName">
        </div>

        <div class="mb-3">
            <label for="Education" class="form-label">Education</label>
            <input type="text" class="form-control" id="Education" name="Education" value="@Model.Education">
        </div>

        <div class="mb-3">
            <label for="Location" class="form-label">Location</label>
            <input type="text" class="form-control" id="Location" name="Location" value="@Model.Location">
        </div>

        <div class="mb-3">
            <label for="Notes" class="form-label">Notes</label>
            <textarea class="form-control" id="Notes" name="Notes" rows="3">@Model.Notes</textarea>
        </div>

        <div class="mb-3">
            <label for="Avatar" class="form-label">Avatar</label>
            <input type="file" class="form-control" id="Avatar" name="Notes" rows="3" />
        </div>

        <button type="submit" class="btn btn-success">Update</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>
</div>
